# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build files
dist/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Temporary files
*.tmp
